body{background-color: #EACDBD ;
    font-family: sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    background-color:#EACDBD ;
}
.Header{
   
    /* max-width: 1280px; */
    height: 10%;
    width: 100%;
    background-color: #946d6d;
}
.brandLogo{
     height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 1px solid #5E493D;

}
.Options{
    align-items: center;

    height: 100%;
    width: 100%;
    display: flex;
    background-color: #946d6d;
    justify-content:space-around;
    gap: 4rem;
}
.OptionLink{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    color: black;
}
.searchIcon{
    height: 3rem;
    width: 3rem;
}
.CoffeeContainer{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 100%;
}
.Coffee{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.CoffeeText{
    font-weight:lighter;
    position: absolute;
    top: 50%;
    left: 4%;
    color: beige;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
}
.topCategories h2{
    margin-top: 1rem;
    font-weight: bold;
    color: #5E493D;
}
.topCategories p{
    margin-bottom: 1rem;
    color: #5E493D;
}
.topCategories{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
.DrinkGrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  
}
.DrinkItem{
    position: relative;
 height: 100%;
    width: 100%;
   

}
.DrinText p{
 font-size: 1.2rem;
   font-weight: bold;
   color: #fff;
   
}
.DrinkLink{
    text-decoration: none;
    font-size: 0.9rem;
   font-weight: 100;
   color: #fff;

}
.DrinText{
    position: absolute;
   top: -0.5%;
   left:22%;
   right: 50%;
  
   background-color: #121111;
   height: 80%;
   width: 50%;
    border-radius: 10px;
    opacity: 0.4;
    object-fit: cover;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.CoffeItem{
    height: 80%;
    width: 50%;
    object-fit: cover;
      border-radius: 10px;
    margin-left: 7rem;
}
.milkshakes{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   background-color: #EACDBD ;
}
.milkshakes h2{
      margin-top: 1rem;
    font-weight: bold;
    color: #5E493D;
}
.milkshakes p{
     margin-bottom: 1rem;
     color: #5E493D;
}
.shakeGrid{
    display: grid;
    grid-template-columns: repeat(3,350px);
     grid-gap:5rem;
}
.Shakes{
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    display: flex;
    border-radius: 20px;
    background-color: #D2B5A5 ;
     color: #5E493D;
   
}
 .shakeItem{
    align-self: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
 
  
 }
 .shakeItem span{
    font-weight: bold;
    
 }
 .ShakeImage{
  height: 60%;
  width: 50%;
  object-fit: fill;border-radius: 16px;
  /* text-align: center; */
  /* border: 7px solid  #caaea0 ; */
 }
 .likes{
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    /* border: 1px solid white; */
    border-radius: 15px;
    width: 30%;
    height: 8%;
    background-color: #d7d7d7;
    color: #5E493D;
  

 }
 .likes p{
 margin-top: 16px;
    font-size: 200;
 }
 .purchase{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }
 .price{
    opacity: 0.8;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
    border-radius: 15px;
    padding: 0.4rem;
    width: 30%;
    height: 100%;
    background-color: #d7d7d7;
    color: #5E493D;
 }
 .buyNowButton{
    border: 1px double #5E493D;
    opacity: 0.8;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
    border-radius: 15px;
    padding: 0.4rem;
    width: 30%;
    height: 100%;
    background-color: #d7d7d7;
    color: #5E493D;
 }
 .Buy{
    text-decoration: none;
    color: #5E493D;
 }
 .blogs{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: #5E493D;
 }
 .blogs h2{
     margin-top: 2rem;
     
 }
 .blogGrid{
    display: grid;
    grid-template-columns: repeat(3,350px);
   
    grid-gap: 5rem;
 }
 .BlogItems{
    display: flex;
    flex-direction: column;
    border-radius :22.3px;
 /* border: 1px solid black; */
 background-color:#D2B5A5 ;
 }
.blogImgContainer{
    border-radius: 10px;
    padding: 1rem;
    height: 60%;
    width: 100%;
    /* background-color: rgb(213, 186, 142) ; */
}
.blogImgContainer img{
    border: none;
    border-radius:15px;
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.paragraph{
font-size: 0.9rem;
    margin-left:  1.5rem;
    margin-right:  1.5rem;
}
.paragraph h2{
   margin-bottom: 1rem;
   margin-top: -0.2rem;
   color: #5E493D;
}
.paragraph p{
    color: #5E493D;
}

.seeMoreButton{
border-radius: 14px;
margin: 1rem;
height: 1.5rem;
padding: 0.2rem;
border: none;
width: 5rem;
opacity: 0.5;
color: #5E493D;
}
.Footer{
   
display:flex;
flex-direction: column;
margin-top: 2rem;
align-items: center;
justify-content: space-around;
background-color: #1E1E1E;
height: 60%;
color: white;
}
.footerGrid{
     margin-top: 1px solid  #e8d7ce;
    /* padding-bottom: 2rem; */
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:2rem;
}
.footerItem h3{
margin-bottom: 1rem;
}
ul{
    margin-top: 1rem;
    font-size: 0.8rem;
    color: #e8d7ce;
    text-decoration: none;
   
}
li{
    list-style-type: none;
    
}
.footerBottom{
background-color: #61524F;
padding: 0.5rem;
width: 50%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 1rem;

}
.footerBottomOptions{
    text-decoration: none;
    color: #e8d7ce;
    margin: 1rem;
  
}

